$shadow-color: rgba(160, 148, 148, 0.795);
$shadow-colorPurple: rgba(12, 2, 97, 0.363);
// $formColor: rgba(183, 188, 192, 0.9);
$formColor: rgba(250, 251, 252, 0.9);


// * {
  // border: solid 1px black;
// }


// background-color: rgba(160, 148, 148, 0.527);

html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}


#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.featured-card-col {
  margin: 1rem 0;
}

.trade-pals-header {
  box-shadow: 0.05px 1px 18px $shadow-colorPurple;
  // margin-bottom: .75rem;
  // margin-bottom: 3rem;
  .home {
    margin: 0 .5rem;
  }
  .index-pet {
    margin: 0 .5rem;
  }
}
.pet-card {
  height: 100%;
  .pet-button {
    width: 100%;
    margin: 3px 0;
  }
}

.pet-row {
  height: 100%;
  margin: 1rem 0;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.cart-cont {
 margin: 1rem 0;
}

.cart-row {
  margin: .375rem 0;
}

.cart-item {
  margin: .2025rem 0;
}
.cart-item,
.review-item {
  .card-header {
    max-width: 250px;
    min-width: 100px;
    h3 {
      font-weight: bold;
    }

    img {
      max-width: 100px;
      height: auto;
      object-fit: stretch;
    }
  }
  .info-block {
    width: 100%;
    padding: 10px;
  }
}

.pet-container {
  margin-top: 1rem;
}

.pet-detail-row {
  .col {
    width: 100%;
  }
  .pet-detail-image {
    display: block;
    margin: auto;
    max-height: 500px;
    max-width: 100%;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  .home-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .featured-pet {
    background-color: rgb(50, 131, 168);

  }
  .content-header  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    .home-text {
      position: absolute;  
      left: 50%;                        
      top: 50%;                         
      transform: translate(-50%, -50%)
    }
  }
}

.container-fluid:not(.footer){
  flex: 1 1 auto;
}

.contento {
  height:100vh;
}

.user-location-form {
  .title-colm, .form-colm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.location-input{
  width: 100%;
  display: flex;
  justify-content: center;
  #location {
    background: #fefefe;
    border-radius: .3rem;
    width: 100%;
    text-align: center;
  }
}

header, footer, #map-canvas {
  width: 100%;
}

#wrapper {
  position: relative;
  height: 100vh;
}


#map-canvas {
  height: 100%;
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: #1D3159;
  width: 100%;
  color: white;
  z-index: 1;
  bottom: 0;
}
// Footer to show or hide
.footShow {
  display: block;
}

.footHide {
  display: none;
}

//  Header links

.authentication-link {
  align-items: center;
  a {
    margin-left: 1em;
  }
}
// =================================
 .registerForm {
  background-color: $formColor;
  min-width: 50vw;
  padding: 2rem;
  border-radius: 24px;
  height: auto;
  box-shadow: 0px 2px 36px 6px rgba(0,0,0,0.3);
  align-self: center;
  width: 100%;
};

 .registerCon{
  justify-content: center;
// add background image that transitions
// white film over
  display: flex;
  align-items: center;
  padding: 0 !important;
  position: relative
};

 .customRow{
  top: 0;
  margin: 0 !important;
  height: 100vh;
  width: 100%;
  position: relative
};

.registerCol{
  margin: 1em 0;
  display: flex
}
 .imageStyle{
  position: absolute ;
  width: 100%;
  height: 100% !important;
  opacity: 0.5;
}



// Delivery options

.delivery-container {
  background-color: #F8F9FA;
  border: solid 1px rgb(236, 237, 238);
  border-radius: 3px;
  margin: .075rem;
  padding: 1rem;
  .row {
    margin-top: 1rem 0;
  }
  // box-shadow: 0px 2px 36px 6px rgba(0,0,0,0.3);
}

.delivery-col {
  text-align: center;
} 