html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured-card-col {
  margin: 1rem 0;
}

.trade-pals-header {
  -webkit-box-shadow: 0.05px 1px 18px rgba(12, 2, 97, 0.363);
          box-shadow: 0.05px 1px 18px rgba(12, 2, 97, 0.363);
}

.trade-pals-header .home {
  margin: 0 .5rem;
}

.trade-pals-header .index-pet {
  margin: 0 .5rem;
}

.pet-card {
  height: 100%;
}

.pet-card .pet-button {
  width: 100%;
  margin: 3px 0;
}

.pet-row {
  height: 100%;
  margin: 1rem 0;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-row {
  margin: .375rem 0;
}

.cart-item {
  margin: .2025rem 0;
}

.cart-item .card-header,
.review-item .card-header {
  max-width: 250px;
  min-width: 100px;
}

.cart-item .card-header h3,
.review-item .card-header h3 {
  font-weight: bold;
}

.cart-item .card-header img,
.review-item .card-header img {
  max-width: 100px;
  height: auto;
  -o-object-fit: stretch;
     object-fit: stretch;
}

.cart-item .info-block,
.review-item .info-block {
  width: 100%;
  padding: 10px;
}

.pet-container {
  margin-top: 1rem;
}

.pet-detail-row .col {
  width: 100%;
}

.pet-detail-row .pet-detail-image {
  display: block;
  margin: auto;
  max-height: 500px;
  max-width: 100%;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .home-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .featured-pet {
  background-color: #3283a8;
}

.homepage .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .content-header .home-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-fluid:not(.footer) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contento {
  height: 100vh;
}

.user-location-form .title-colm, .user-location-form .form-colm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location-input #location {
  background: #fefefe;
  border-radius: .3rem;
  width: 100%;
  text-align: center;
}

header, footer, #map-canvas {
  width: 100%;
}

#wrapper {
  position: relative;
  height: 100vh;
}

#map-canvas {
  height: 100%;
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: #1D3159;
  width: 100%;
  color: white;
  z-index: 1;
  bottom: 0;
}

.footShow {
  display: block;
}

.footHide {
  display: none;
}

.authentication-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication-link a {
  margin-left: 1em;
}

.registerForm {
  background-color: rgba(250, 251, 252, 0.9);
  min-width: 50vw;
  padding: 2rem;
  border-radius: 24px;
  height: auto;
  -webkit-box-shadow: 0px 2px 36px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 36px 6px rgba(0, 0, 0, 0.3);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.registerCon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  position: relative;
}

.customRow {
  top: 0;
  margin: 0 !important;
  height: 100vh;
  width: 100%;
  position: relative;
}

.registerCol {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imageStyle {
  position: absolute;
  width: 100%;
  height: 100% !important;
  opacity: 0.5;
}

.delivery-container {
  background-color: #d3caca;
}

.delivery-container .row {
  margin-top: 1rem 0;
}

.delivery-col {
  text-align: center;
}
/*# sourceMappingURL=App.css.map */