$shadow-color: rgba(160, 148, 148, 0.795);
$shadow-colorPurple: rgba(12, 2, 97, 0.363);
// * {
  // border: solid 1px black;
// }


// background-color: rgba(160, 148, 148, 0.527);

html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}


#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.featured-card-col {
  margin: 1rem 0;
}

.trade-pals-header {
  box-shadow: 0.05px 1px 18px $shadow-colorPurple;
  margin-bottom: .75rem;
  // margin-bottom: 3rem;
  .home {
    margin: 0 .5rem;
  }
  .index-pet {
    margin: 0 .5rem;
  }
}
.pet-card {
  height: 100%;
  .pet-button {
    width: 100%;
    margin: 3px 0;
  }
}

.pet-row {
  height: 100%;
  margin: 1rem 0;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.delivery-col {
  text-align: right;
}

.cart-item,
.review-item {
  .card-header {
    max-width: 250px;
    min-width: 100px;
    h3 {
      font-weight: bold;
    }

    img {
      max-width: 100px;
      height: auto;
      object-fit: stretch;
    }
  }
  .info-block {
    width: 100%;
    padding: 10px;
  }
}

.pet-detail-row {
  .col {
    width: 100%;
  }
  .pet-detail-image {
    display: block;
    margin: auto;
    max-height: 500px;
    max-width: 100%;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  .home-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .featured-pet {
    background-color: rgb(50, 131, 168);

  }
  .content-header  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    .home-text {
      position: absolute;  
      left: 50%;                        
      top: 50%;                         
      transform: translate(-50%, -50%)
    }
  }
  
}

.container-fluid:not(.footer){
  flex: 1 1 auto;
}

.contento {
  height:100vh;
}

.user-location-form {
  .title-colm, .form-colm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.location-input{

  width: 100%;
  display: flex;
  justify-content: center;
  #location {
    background: #fefefe;
    border-radius: .3rem;
    width: 100%;
    text-align: center;
  }
}


.authentication-link {
  align-items: center;
  a {
    margin-left: 1em;
  }
}



header, footer, #map-canvas {
  width: 100%;
}

#wrapper {
  position: relative;
  height: 100vh;
}


#map-canvas {
  height: 100%;
  // .helloGoogle {
  // }
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: #1D3159;
  width: 100%;
  color: white;
  // position: absolute !important;
  bottom: 0;
}

.show {
  position: absolute;
}


    