$shadow-color: rgba(160, 148, 148, 0.795);
$shadow-colorPurple: rgba(12, 2, 97, 0.363);
// * {
  // border: solid 1px black;
// }


// background-color: rgba(160, 148, 148, 0.527);

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body,
html {
  margin: 0;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.featured-card-col {
  margin: 1rem 0;
}

.trade-pals-header {
  box-shadow: 0.05px 1px 18px $shadow-colorPurple;
  margin-bottom: .75rem;
  // margin-bottom: 3rem;
  .home {
    margin: 0 .5rem;
  }
  .index-pet {
    margin: 0 .5rem;
  }
}
.pet-card {
  height: 100%;
  .pet-button {
    width: 100%;
    margin: 3px 0;
  }
}

.pet-row {
  height: 100%;
  margin: 1rem 0;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.delivery-col {
  text-align: right;
}

.cart-item,
.review-item {
  .card-header {
    max-width: 250px;
    min-width: 100px;
    h3 {
      font-weight: bold;
    }

    img {
      max-width: 100px;
      height: auto;
      object-fit: stretch;
    }
  }
  .info-block {
    width: 100%;
    padding: 10px;
  }
}

.pet-detail-row {
  .col {
    width: 100%;
  }
  .buy {
  }
  .pet-detail-image {
    display: block;
    margin: auto;
    max-height: 500px;
    max-width: 100%;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .featured-pet {
    background-color: rgb(50, 131, 168);

  }
  .content-header  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    .home-text {
      position: absolute;  
      left: 50%;                        
      top: 50%;                         
      transform: translate(-50%, -50%)
    }
  }
  
}

.container-fluid:not(.footer){
  flex: 1;
}

.footer {
  padding: 1rem;
  color: white;
  background-color: #1D3159;
  text-align: center;
  width: 100%;
}



.swiper-container {
  box-shadow: 0px 10px 10px rgba(12, 2, 97, 0.363);
  border-radius: 30px;
  width: 100%;
  height: 500px;
  background: black;
  color: white;
  img {
    width: 100%;
    // height: max-content;
    height: auto;
  }
  .home-text {
      position: absolute;  
      left: 50%;                        
      top: 50%;                         
      transform: translate(-50%, -50%)
  }
}



// .yourFluidImage {
//   width:100%;
//   height:auto;
// }

// .swiper-wrapper {
//   height:auto !important;
// }

// .swiper-slide {
//   height:auto !important;
// }